{% extends "layout.html" %}
{% block title %}
    Новини
{% endblock %}
{% block content %}
<div class="container custom-container">
    <div class="card custom-card">
        <div class="card-body">
            <h1 class="form-title">Створити новий пост</h1>
            <form method="post" enctype="multipart/form-data" class="custom-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn save-btn"> Зберегти </button>
                    <a href="{% url 'posts:list' %}" class="btn back-btn">До новин</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
